@font-face {
  font-family: myfont;
  src: url(./fonts/Inter-VariableFont_slnt\wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: myfont;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

.header {
  width: 100%;
  height: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__second {
    display: flex;
  }

  &__first__h2 {
    font-weight: 900;
    font-size: 25px;
    margin-left: 20px;
  }

  &__second ul {
    list-style-type: none;
    display: flex;
    color: black;
    gap: 24px;

    a {
      text-decoration: none;
      color: black;
    }

    .home:hover,
    .products:hover,
    .Blog:hover,
    .contact:hover,
    .about:hover {
      color: #daa520;
    }
  }

  &__third button {
    background-color: black;
    color: white;
    border-radius: 32px;
    height: 42px;
    width: 90px;
    margin-right: 25px;
    padding: 12px 24px 12px 24px;
    cursor: pointer;
  }

  .hamburger {
    position: relative;
    height: 2px;
    width: 37.5px;
    background-color: rgb(0, 0, 0);
    z-index: 2;
    cursor: pointer;
    top: 25px;
  }
  .hamburger::after,
  .hamburger::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 36px;
    background-color: rgb(0, 0, 0);
  }

  .hamburger::after {
    top: 10px;
  }

  .hamburger::before {
    bottom: 10px;
  }

  .toggle-menu,
  .hamburger {
    display: none;
  }
  .toggle-menu {
    position: absolute;
    width: 30px;
    height: 50px;
    z-index: 3;
    cursor: pointer;
  }
}

.main {
  display: flex;
  width: 100%;
  height: 500px;
  gap: 30px;
  justify-content: space-evenly;
  margin-bottom: 40px;

  .image {
    margin-top: 40px;
    border-radius: 12px;
    width: 40%;
    height: 428px;
    object-fit: cover;
  }

  &__left {
    display: flex;
    flex-direction: column;
    height: 288px;
    width: 450px;
    margin-top: 105px;
    gap: 15px;

    .h1 {
      font-weight: 900;
      font-size: 55px;
    }

    .paragraph {
      font-size: 18px;
      margin-bottom: 30px;
    }
  }

  &__left__second {
    width: 100%;
    height: 48px;
    display: flex;
    gap: 20px;

    .button {
      width: 100px;
      height: 42px;
      border-radius: 32px;
      color: white;
      background-color: black;
      cursor: pointer;
    }

    .paragraph2 {
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
    }
  }
}

.bottom {
  height: 22vh;
  width: 100%;
  background-color: #f3f3f3;
  display: flex;
  gap: 16px;
  justify-content: space-evenly;
  align-items: center;
}

.feature {
  width: 340px;
  height: 128px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 20px;

  &__p {
    font-weight: 400;
    font-size: 16px;
  }

  &__parent {
    display: flex;
    flex-direction: row;
    gap: 16px;

    &__circle {
      width: 40px;
      height: 40px;
      background-color: black;
      border-radius: 50%;
    }

    &__h3 {
      padding-top: 10px;
    }
  }
}

.black {
  height: 620px;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;

  &__image {
    // width: 535px;
    width: 40%;
    height: 428px;
    border-radius: 12px;
  }

  &__text {
    width: 442px;
    // height: 296px;
    display: flex;
    flex-direction: column;
    // gap: 16px;

    // &__2 {
    //     width: 486px;
    //     margin-top: 60px;
    // }

    &__h3 {
      font-weight: 900;
      font-size: 24px;
      padding-bottom: 16px;
    }

    &__p {
      font-weight: 200;
      font-size: 16px;
      padding-bottom: 16px;
    }

    &__ul {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }
}

.white {
  width: 100%;
  height: 536px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  // background-color: #DAA520;
}

.box {
  width: 25%;
  height: 316px;
  background-color: #f3f3f3;
  border-radius: 8px;

  &__text {
    height: 84px;
    // width: 312px;
    margin-top: 8%;
    margin-left: 10%;

    &__p {
      font-size: 18px;
      font-weight: 300;
    }
  }

  &__bottom {
    display: flex;
    margin-top: 8%;
    width: 100%;
    justify-content: space-around;

    &__2 {
      // width: 312px;
      width: 50%;
      height: 128px;
      gap: 24px;
      display: flex;
      flex-direction: column;

      &__image {
        height: 64px;
        width: 64px;
        border-radius: 32px;
        object-fit: cover;
      }

      &__h3 {
        font-size: 16px;
        font-weight: 700;
      }

      &__p {
        font-size: 14px;
        font-weight: 400;
        margin-top: -15px;
      }
    }

    &__3 {
      display: flex;
      align-items: end;
      justify-content: end;
      gap: 20px;
      width: 20px;
    }
  }
}

.last {
  width: 100%;
  height: 588px;
  background-image: url(./images/walpaper.png);
  display: flex;
  align-items: center;
  justify-content: center;
  // gap: 32px;

  &__box {
    width: 600px;
    height: 225px;
    gap: 32px;
    flex-direction: column;
    display: flex;
    color: white;
    align-items: center;

    &__p {
      font-size: 16px;
      font-weight: 500;
    }

    &__h2 {
      font-weight: 900;
      font-size: 40px;
      text-align: center;
    }

    &__button {
      width: 84px;
      height: 40px;
      border-radius: 24px;
      font-size: 16px;
      font-weight: 700;
    }
  }
}

.footer {
  width: 100%;
  height: 348px;
  background-color: black;
  color: white;
  display: flex;
  padding-left: 5%;

  gap: 20px;

  &__brand {
    font-size: 25px;
    font-weight: 900;
    margin-top: 7%;
    margin-left: 3%;
    margin-right: 8%;
    width: 11%;
  }
}

.end {
  // width: 88%;
  width: 100%;
  display: flex;
  margin-top: 7%;
  gap: 8%;

  &__list {
    margin-right: 3%;
  }

  &__list__ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 10px;

    &__no {
      font-size: 16px;
      font-weight: 900;
      margin-bottom: 10px;
    }

    &__li {
      font-size: 14px;
      font-weight: 200;
    }
  }

  &__last {
    // width: 360px;
    // height: 156px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__h4 {
      font-size: 16px;
      font-weight: 700;
    }

    &__p {
      font-size: 14px;
      font-weight: 400;
      opacity: 50%;
    }
    &__email {
      display: flex;
      justify-content: space-between;
      // width: 100%;
      height: 48px;
      border-radius: 40px;
      background-color: rgba(128, 128, 128, 0.306);
      padding: 15px;

      &__p {
        // margin-top: 3.5%;
        // margin-left: 3%;
        opacity: 50%;
      }

      &__image {
        height: 20px;
        // margin: 3%;
      }
    }
  }
}

.end__list__ul__li:hover {
  color: #daa520;
  cursor: pointer;
}

@media (max-width: 1024px) {
  p br {
    display: none;
  }

  .main {
    flex-direction: column;
    height: 100%;
    align-items: center;

    .paragraph2 {
      font-size: 13px;
      margin-top: 13px;
    }

    .image {
      // margin-top: -1px;
      width: 90%;
      height: 450px;
      object-fit: cover;
    }

    &__left {
      margin-top: 20px;
    }
  }

  .bottom {
    padding: 10px;
  }

  .black {
    flex-direction: column;
    height: 895px;

    &__image {
      height: 550px;
      width: 95%;
    }

    &__text {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 100px;

      &__2 {
        width: 286px;
        // margin-top: 60px;
        width: 486px;
      }

      &__h3 {
        font-size: 24px;
        flex: 1;
        width: 345px;
        margin-left: 30px;
      }

      &__p {
        flex: 1;
        margin-right: 20px;
        margin-bottom: 10px;
      }

      &__ul {
        flex: 1;
        gap: 15px;
      }
    }
  }

  .box {
    width: 30%;
  }

  .footer {
    width: 100%;
    flex-direction: column;

    &__brand {
      margin-left: -0.5%;
      width: 12%;
    }

    .end {
      gap: 5%;
      margin-top: 3%;
    }
  }
}

@media (max-width: 744px) {
  .main {
    .image {
      margin-top: -20px;
      width: 95%;
      margin-bottom: -40px;
    }

    &__left {
      width: 100%;
      text-align: center;
      gap: 30px;

      .h1 {
        font-size: 40px;
        font-weight: 900;
      }

      .paragraph {
        font-size: 18px;
        font-weight: 400;
      }

      &__second {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 10px;
        height: 100px;
        margin-top: -30px;
      }
    }

    .main__left {
      width: 100%;
      text-align: center;
      gap: 30px;

      .h1 {
        font-size: 40px;
        font-weight: 900;
      }

      .paragraph {
        font-size: 18px;
        font-weight: 400;
      }

      &__second {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 10px;
        height: 100px;
        margin-top: -30px;
      }
    }
  }

  .bottom {
    flex-direction: column;
    height: 414px;
  }

  .feature {
    width: 100%;

    &__p {
      text-align: center;
    }

    &__parent {
      align-self: center;
    }
  }

  .black {
    height: 917px;

    &__text {
      flex-direction: column;
      color: white;
      gap: 20px;
      align-items: center;
      padding: 30px;
      text-align: center;

      &__h3 {
        align-items: center;
        width: 100%;
        font-size: 24px;
        margin: 0;
      }

      &__2 {
        width: 100%;
      }
    }
  }

  .white {
    .box-none {
      display: none;
    }

    .box {
      width: 45%;
    }
  }

  .last {
    &__box {
      width: 100%;
    }
  }

  .footer {
    gap: 0;

    .end {
      gap: 50px;

      &__last {
        width: 200px;
        margin-top: -40px;
      }
    }
  }
}
@media (max-width: 565px) {
  .header__second li,
  .header__third {
    display: none;
  }

  .end__last {
    display: none;
  }
  .white {
    .box {
      width: 80%;
    }
    .box-1 {
      display: none;
    }
  }

  .header {
    .toggle-menu {
      display: block;
      opacity: 0;
      width: 35px;
    }

    .hamburger {
      display: block;
      margin-bottom: 50px;
      margin-right: 20px;
    }
  }
  .list {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.8s;
    padding-top: 65px;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 40px;
    padding: 80px 10px;
  }

  .list li {
    display: block;
  }
  .header__second input:checked ~ .list {
    right: 0;
    box-shadow: -20px 0 48px rgba(0, 0, 0, 0.696);
  }

  .header__second input:checked ~ .hamburger {
    background-color: transparent;
  }
  .header__second input:checked ~ .hamburger:after {
    top: 0;
    transform: rotate(45deg);
    // width: 30px;
    transition: 0.5s;
  }
  .header__second input:checked ~ .hamburger:before {
    top: 0;
    transform: rotate(-45deg);
    // width: 30px;
    transition: 0.5s;
  }
}
